
Credentials/.DS_Store
Exercises/Exercises 5 - Data Pipelines with Airflow/.DS_Store
Projects/.DS_Store
Projects/Project 2 - ETL Pipeline for Pre-Processing the Files/.DS_Store
Credentials/dwh.cfg
Exercises/.DS_Store
Credentials/create_redshift_cluster.ipynb
Credentials/create_cluster.cfg
Credentials/accessKeys.csv
Credentials/.ipynb_checkpoints/create_redshift_cluster-checkpoint.ipynb
.DS_Store
